
SHEIN analysis.mp4
SHEIN Product Analysis.pptx
Code/Scrapped Data/Shein2.csv
Code/Streamlit/.ipynb_checkpoints/Streamlit-checkpoint.ipynb
Code/Scrapped Data/.ipynb_checkpoints/Scrapper-checkpoint.ipynb
Code/EDA /.ipynb_checkpoints/EDA-checkpoint.ipynb
